Array_Version/student_Score.depend
Array_Version/student_score.layout
Array_Version/student_Score.cscope_file_list
Array_Version/bin/*
Array_Version/obj/*

LinkedList_Version/student_Score.depend
LinkedList_Version/student_score.layout
LinkedList_Version/student_Score.cscope_file_list
LinkedList_Version/bin/*
LinkedList_Version/obj/*